@import "breakpoint";

$pc1915: max-width 1915px;
$pc1545: max-width 1545px;
$pc1280: max-width 1400px;
$pc1366: max-width 1366px;
$ipad: max-width 960px;
$iphone: max-width 768px;
$iphone5: max-width 414px;


li {
  list-style: none;
}

main {
    width: 100%;
    height: 120px;
    position: fixed;
    z-index: 999;
    top: 0px;
    @include breakpoint($ipad) {
      background-color: rgba(255, 255, 255, 0);
      height: 80px;
    }  
}
.three-line {
    display: none;
    @include breakpoint($ipad) {
      display: block;
    }
}
menu input[type=checkbox] {
  display: none;
  &:checked ~ hamburger > i {
    background-color: transparent;
    transform: rotate(90deg);
    &:before {
      transform: translate(-50%, -50%) rotate(315deg);
      background-color: #ffffff;    
    }
    &:after {
      transform: translate(-50%, -50%) rotate(-315deg);
      background-color: #ffffff;    
    }
  }
}
menu input[type=checkbox]:checked ~ hamburger close {
  color: rgb(255, 255, 255);
  width: 100%;
}
menu input[type=checkbox]:checked ~ hamburger open {
  color: transparent;
  width: 0;
}
menu hamburger {
    position: absolute;
    display: block;
    height: 25px;
    width: 41px;
    z-index: 1;
    right: 40px;
    top: 60px;
  &:hover {
    cursor: pointer;
  }
  @include breakpoint($iphone) {
    right: 10px;
    top: 20px;
  }
}
menu hamburger text close,
menu hamburger text open {
  text-transform: uppercase;
  font-size: .8em;
  bottom: 35px;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}
menu hamburger text close {
  color: rgb(255, 255, 255);
  right: 0px;
  width: 0px;
  margin-bottom: 45%;
  margin-right: -110%;
}
menu hamburger text open {
  color: rgb(255, 255, 255);
  width: 100%;
  margin-left: 110%;
  margin-bottom: 47%; 
}
menu hamburger > i {
  position: absolute;
  width: 30px;
  height: 2px;
  top: 50%;
  background-color: #3d6dce;
  pointer-events: auto;
  transition-duration: .35s;
  transition-delay: .35s;
}
%all {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #3d6dce;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
}
menu hamburger > i:before {
  @extend %all;
  transform: translate(-50%, -9px);
}
menu hamburger > i:after {
  @extend %all;
  transform: translate(-50%, 9px);
}

/* reset */
* {
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
  &:hover {
     outline: none;
  }
}
.menu {
    position: fixed;
    top: 0px;
    right: 0px;
    background: rgba(34, 38, 45, 0.9);
    width: 34%;
    height: 100%;
    transform: translate3d(100%, 0, 0);
    transition: transform 0.35s;
    z-index: 1;
    @include breakpoint($iphone) {
        width: 100%;
    }
}
.hastag {
    display: block;
    width: 50%;
    font-size: 3.5rem;
    letter-spacing: 22px;
    font-weight: bold;
    color: #000;
    top: 70%;
    transform: translateY(-70%);
    @include breakpoint($pc1915) {
      width: 62%;    
    }
    @include breakpoint($pc1545) {
      width: 75%;
      font-size: 2.3rem;    
    }
    @include breakpoint($iphone) {
      width: 100%;
      letter-spacing: 4px;
      font-size: 1.5rem;
    } 
}
.hastag-ico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu ul li a, .menu ul li label {
    position: relative;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.menu-checkbox {
  display: none;
  &:checked + .menu {
    transform: translate3d(0, 0, 0);
  }
}

//dress 
.mb-ul {
  position: relative;
  width: 300px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);   
}
@for $i from 1 through 2 {
.meaubox#{$i} {
  display: flex;
  height: 50vh;
  border-bottom: 1px #c7c7c7 solid;
  @include breakpoint($ipad) {
    flex-direction: column;
    height: 100vh;
    width: 50%;
  }
  li {
    width: 33.3%;
    @include breakpoint($ipad) {
      width: 100%;
      height: 33.3%;

    }
      &:nth-child(1) {
        border-right: 1px #c7c7c7 solid;
        @include breakpoint($ipad) {
          border-bottom: 1px #c7c7c7 solid;
        }
      }
      &:nth-child(2) {
        border-right: 1px #c7c7c7 solid;
        @include breakpoint($ipad) {
          border-bottom: 1px #c7c7c7 solid;
        }
      }
      &:nth-child(3) {
        @include breakpoint($ipad) {
          border-right: 1px #c7c7c7 solid;
        }
      }       
    }
  }
}
@for $i from 1 through 7 {
.connet#{$i} { 
    width: 125px;
    margin: 0px auto 30px auto;
    @include breakpoint($pc1280) {
        margin: 0px auto 10px auto;
    }
    @include breakpoint($iphone) {
        width: 100px;
    }
  }
}
@mixin text-color($color) {
    font-size: 2rem;
    text-align: right;
    font-weight: bold;
    width: 265px;
    padding-top: 5px;
    letter-spacing: 0px;
    margin: auto;
    color: $color;
    @include breakpoint($pc1915) {
      font-size: 1.5rem;
      width: 190px;
    }
    @include breakpoint($iphone) {
      font-size: 0.8rem;
      width: 100px;
      padding-top: 0px;
      font-weight: inherit;
    }  
}
.blue { 
  @include text-color(#3d6dce);
}
.yellow {
  @include text-color(#ffbd43);
}